<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleephenetech.app.admin.model.AdminDAO">

	<select id="login" resultType="int">
		SELECT COUNT(*)
		  FROM CFAUTH
		 WHERE USER_ID = #{USER_ID}
		   AND USER_PW = #{USER_PW}
	</select>
	
	
</mapper>